@import "tailwindcss";


html,
body {
  color: #fff;
  background: #0f0437;
}

main {
  background:  #393a47;
  height: 100vh;
  height: 100dvh;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}